In [4]:
import pandas as pd
import os

In [7]:
os.listdir('Data')

['data_specifications',
 'example_test_files',
 'jpx_tokyo_market_prediction',
 'supplemental_files',
 'train_files',
 'stock_list.csv']

In [8]:
df = pd.read_csv(r"Data/train_files/stock_prices.csv")

In [9]:
df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [10]:
df[df['AdjustmentFactor'] != 1]

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
16052,20170117_6861,2017-01-17,6861,83610.0,83610.0,82540.0,82600.0,146400,0.500000,NaN,False,0.006598
16346,20170117_8057,2017-01-17,8057,498.0,498.0,490.0,490.0,45000,5.000000,NaN,False,-0.007494
21558,20170120_6538,2017-01-20,6538,4980.0,4985.0,4880.0,4880.0,8200,0.333333,NaN,False,-0.040248
28373,20170126_3465,2017-01-26,3465,3235.0,3275.0,3230.0,3275.0,62900,0.500000,NaN,False,-0.023284
65293,20170223_1712,2017-02-23,1712,1584.0,1587.0,1578.0,1581.0,17900,0.833333,NaN,False,0.017788
...,...,...,...,...,...,...,...,...,...,...,...,...
2281787,20211027_6962,2021-10-27,6962,4050.0,4050.0,3980.0,4045.0,45000,0.250000,NaN,False,-0.031640
2320697,20211126_2317,2021-11-26,2317,2000.0,2027.0,1992.0,2016.0,178700,0.250000,NaN,False,-0.057884
2321169,20211126_4443,2021-11-26,4443,12770.0,12800.0,12280.0,12560.0,138600,0.250000,NaN,False,0.014587
2321999,20211126_7816,2021-11-26,7816,8150.0,8390.0,8010.0,8350.0,833200,0.500000,NaN,False,-0.056029
2322370,20211126_9369,2021-11-26,9369,1985.0,1995.0,1950.0,1976.0,281800,0.500000,NaN,False,-0.052632